[submodule "vimbundles/nerdtree"]
    path = vimbundles/nerdtree
    url = https://github.com/scrooloose/nerdtree.git

[submodule "vimbundles/vimclojure"]
    path = vimbundles/vimclojure
    url = https://github.com/vim-scripts/VimClojure.git

[submodule "vimbundles/vim_colors"]
    path = vimbundles/vim_colors
    url = https://github.com/squil/vim_colors.git

[submodule "vimbundles/vim-fugitive"]
    path = vimbundles/vim-fugitive
    url = https://github.com/tpope/vim-fugitive.git

[submodule "vimbundles/vim-slime"]
    path = vimbundles/vim-slime
    url = https://github.com/jpalardy/vim-slime.git
[submodule "vimbundles/vim-less"]
	path = vimbundles/vim-less
	url = https://github.com/groenewege/vim-less.git

[submodule "vimbundles/zencoding-vim"]
	path = vimbundles/zencoding-vim
	url = https://github.com/mattn/zencoding-vim.git

[submodule "vimbundles/vim-surround"]
	path = vimbundles/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vimbundles/vim-vividchalk"]
	path = vimbundles/vim-vividchalk
	url = https://github.com/tpope/vim-vividchalk.git
[submodule "vimbundles/vim-twig"]
	path = vimbundles/vim-twig
	url = https://github.com/beyondwords/vim-twig.git
[submodule "vimbundles/php.vim"]
	path = vimbundles/php.vim
	url = https://github.com/shawncplus/php.vim.git
[submodule "powerline"]
	path = powerline
	url = https://github.com/Lokaltog/powerline.git
